/* .App {
  text-align: center;
  animation: fadeOut 1s ease-in-out forwards;

} */

.app-total-sales {
  display: inline-block;
  font-style: italic;
  font-family: Helvetica;
  margin: auto 0px;
}


/* Navbar styles */
.navbar {
  background-color: #ccc;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px 0;
  margin: 1% 1% 5%;
  /* background-color: #ffffff; */
  box-shadow: 0px 4px 6px 4px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  display: flex;
  justify-content: end;
  align-items: center;
}

.navbar a {
  text-decoration: none;
  /* color: #fff; */
}

/* Responsive styles */
@media (max-width: 850px) {
  .navbar {}

  .logo {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
  }


  .nav-links li {
    display: block;
    margin: 10px 0;
  }
}

.navbar a:hover {
  text-decoration: underline;
}

.nav-links {
  margin: auto 20px;
  list-style: none;
}

.nav-link-image {
  margin: auto 25px;
  list-style: none;
}

.nav-links li {
  display: inline-block;
  margin-right: 20px;
}

.app-horizontal-divider {
  border: none;
  height: 1px;
  width: 85%;
  margin: 40px auto;
  background-color: #ccc;

}

.app-sales-filter-container {
  display: flex;
  justify-content: space-around;
}

.app-outer-body {
  justify-content: space-between;
  padding: 5% 10%;
  display: flex;
  flex-direction: row;
  flex-basis: 50%;
  flex-wrap: wrap;
}

/* This is on Listing Component */
.flex-item {
  /* flex-basis: 20%; */
}




@media (max-width: 850px) {
  .flex-item {
    flex-basis: 33%;
  }
}

@media (max-width: 684px) {
  .flex-item {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
  }
}

@media (max-width: 550px) {
  .outer-body {
    padding: 5% 0%;

  }
}

@media (max-width: 450px) {
  .app-total-sales {
    font-size: 16px;
  }
}